<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMA CI App</title>
    <base href="/" />

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .welcome-well {
        padding: 4rem 0;
        font-size: 2.6rem;
        text-align: center;
        color: #CCC;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    @RenderBody()

    @RenderSection("scripts", required: false)
  </body>
</html>